body {
    background-color: blue;
}

#board {
    background-color: red;
    width: 100vw;
    height: 100vh;
    position: relative;

}

#player {
    width: 10vw;
    height: 20vh;
    background-color: grey;
}